body {
    background: rgb(218, 218, 218);
    padding: 15px;
}

h1{
    text-align: center;
}
.btn {
    background-color: #8d8d8d;
    border: solid 1px  black;
    border-radius: 6px;
    padding: 24px 40px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    background-color: #20b98b;
}

.nav {
    text-align: center;
}