#heading {
    color:rgb(158, 81, 8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

table {
    margin: 20px;
    border-collapse: collapse;
}

th, td {
    border: solid 1px black;
    padding: 10px 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

th {
    background-color: rgb(158, 15, 15);
    color: white;
}

tr:nth-child(even){
    background-color: rgb(149, 149, 241);
}

.highlight-row {
    background-color: rgb(172, 5, 172);
}

.form1 {
    margin: 20px;
    padding: 30px 10px;
    max-width: 40%;
    border-radius: 8px;
    height: auto;
    text-align: center;
    background-color: darkgray;
    border: solid 1px black;

}