table {
    border: solid 1px black;
}

th, td {
    border: solid 1px black;
    padding: 10px 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

th {
    background-color: rgb(158, 15, 15);
    color: white;
}

tr:nth-child(even){
    background-color: rgb(149, 149, 241);
}

tr:nth-child(odd){
    background-color: rgb(221, 241, 149);
}